.text-area .content {
    -fx-background-color: black;
}

/* Style the vertical scrollbar of TextArea */
.text-area .scroll-bar:vertical {
    -fx-background-color: #f1f1f1;
    -fx-pref-width: 18px;  /* Adjust scrollbar width */
}

.text-area .scroll-bar:vertical > .thumb {
    -fx-background-color: #3498db;
    -fx-background-radius: 4px;
}

.text-area .scroll-bar:vertical > .track {
    -fx-background-color: #e0e0e0;
}

/* Style the horizontal scrollbar of TextArea */
.text-area .scroll-bar:horizontal {
    -fx-background-color: #f1f1f1;
    -fx-pref-height: 18px; /* Adjust scrollbar height */
}

.text-area .scroll-bar:horizontal > .thumb {
    -fx-background-color: #3498db;
    -fx-background-radius: 4px;
}

.text-area .scroll-bar:horizontal > .track {
    -fx-background-color: #e0e0e0;
}

